.home-topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.home-topics img {
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;

  margin: 10px;
  background-color: lightgrey;
}
.home-pic {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;

  margin: 20px;
}
.home-picP {
  margin-left: 60px;
}

@media screen and (max-width: 450px) {
  .home-topics {
    grid-template-columns: repeat(1, 1fr);
  }
}
