.navbar-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 10px;
  background-color: gray;
  color: white;
}
.header a {
  color: white;
  text-decoration: none;
  font-weight: 400px;
  margin-left: 25px;
}
